# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 5b9c98d10825958ac48c3feba0277c29322fbebe556e73814094e1d278b1e58455e6b5f2cdf2315f1cbd88fdd5508fd12722578847d20b0a9ab5e273bb9e925c

test:
  secret_key_base: f6211914f6d2fe68eff7e3f94e33ea55a4cc8cf3bcd15b78e374a443e92c475a0826343b3a99b0716a932277a7cef09cb07c289607aad6748a359b9c27182322

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
